<html>
    <head>
        <title>
            STATRAN
        </title>
        <link rel="icon" href="/images/logo.jpg" type="image/x-icon">
        
        <link rel="stylesheet" type="text/css" href="/css/Main.css">
    </head>
    <body>
      
      <div class="head">
        <nav>
        <a href="HTML MAIN PAGE.htmls" target="_self"><img src="/images/logo1.gif" alt="logo" width="160" height="160"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ul>
          <li class="dropdown">
            <div class="container indigo topLeftBorders">
              <a href="#">about</a>
              
              
            </div>
          
          <li class="dropdown">
            <div class="container indigo topLeftBorders">
              <a href="After login.html">home</a></div>
          </li>
         
        
          
        
        </ul>
      
        </nav>
    </div>
    
    </div><br>
    <br><br>
    <br>
    <div class="chai">

     <center> <font color="black" size="6.5" face="Castellar">Accomplishing people with Information<br></font></center><br>
    <center><font color="black" size="5" face="Colonna MT">Inferring Insights & Facts on Indian Transportation. Let's Started &#x26CF;<br></font><br><br><br><br><br><center>
    
      
        </div>
<br>
<div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font color="black" size="5" face="Colonna MT">AIRWAYS&nbsp;&nbsp;&#11015;</font>     
</div>

<div class="c">
  Statistics &amp; Reports
</div>
<br>
<br>
<div class="s4">
  <a href="Annual Report - 2021 (English) Aviation.pdf" ><div class="s31"><img src="/images/pdf.png" width="40" height="45"></div></a><div class="s32">Annual Report Of Aviation 2021-22</div>
</div>
<br>
<div class="s4">
  <a href="AR-Eng-2020-21.pdf" ><div class="s31"><img src="/images/pdf.png" width="40" height="45"></div></a><div class="s32">Annual Report Of Aviation 2020-21</div>
</div><br>
<div class="s4">
  <a href="Aviation-Infographic-November-2022.pdf" ><div class="s31"><img src="/images/pdf.png" width="40" height="45"></div></a><div class="s32">Glimpse of Aviation Industry</div>
</div>
       
<div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font color="black" size="5" face="Colonna MT">RAILWAYS&nbsp;&nbsp;&#11015;</font>     
</div>

<div class="c">
  Statistics &amp; Reports
</div>
<br>
<br>
<div class="s4">
  <a href="Railways-August_2022.pdf" ><div class="s31"><img src="/images/pdf.png" width="40" height="45"></div></a><div class="s32">Annual Report Of Railways 2021-22</div>
</div>
<br>
<div class="s4">
  <a href="Annual-Report-English Railways.pdf" ><div class="s31"><img src="/images/pdf.png" width="40" height="45"></div></a><div class="s32">Annual Report Of Railways 2020-21</div>
</div><br>
<div class="s4">
  <a href="Railways-Infographic-November-2022 (1).pdf" ><div class="s31"><img src="/images/pdf.png" width="40" height="45"></div></a><div class="s32">Glimpse of Railways Industry</div>
</div>
<br>
<br>
<div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font color="black" size="5" face="Colonna MT">WATERWAYS&nbsp;&nbsp;&#11015;</font>     
</div>
<div class="c">
  Statistics &amp; Reports
</div>
<br>
<br>
<div class="s4">
  <a href="Annual Report  of Shipment 2021-22 (ENGLISH).pdf" ><div class="s31"><img src="/images/pdf.png" width="40" height="45"></div></a><div class="s32">Annual Report Of Shipment 2021-22</div>
</div>
<br>
<div class="s4">
  <a href="Annual Report of Shipment2020-21.pdf" ><div class="s31"><img src="/images/pdf.png" width="40" height="45"></div></a><div class="s32">Annual Report Of Shipment 2020-21</div>
</div><br>
<div class="s4">
  <a href="Ports-Infographic-November-2022.pdf" ><div class="s31"><img src="/images/pdf.png" width="40" height="45"></div></a><div class="s32">Glimpse of Ship Industry</div>
</div>
      <br>
      <br>  
<div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font color="black" size="5" face="Colonna MT">ROADWAYS&nbsp;&nbsp;&#11015;</font>     
</div>
<div class="c">
  Statistics &amp; Reports
</div>
<br>
<br>
<div class="s4">
  <a href="Annual Report  of Road 2021-22 (ENGLISH).pdf" ><div class="s31"><img src="/images/pdf.png" width="40" height="45"></div></a><div class="s32">Annual Report Of Roads 2021-22</div>
</div>
<br>
<div class="s4">
  <a href="Annual Report - 2021 (English) Roads.pdf" ><div class="s31"><img src="/images/pdf.png" width="40" height="45"></div></a><div class="s32">Annual Report Of Roads 2020-21</div>
</div><br>
<div class="s4">
  <a href="Roads-Infographic-November-2022.pdf" ><div class="s31"><img src="/images/pdf.png" width="40" height="45"></div></a><div class="s32">Glimpse of Road Industry</div>
</div>
          
          
          
          
  <br>
  <br>       

    <footer>
      <span>Narycan(C) All rights Reserved</span>
    </footer>
    </body>
</html>
<! https://www.canva.com/design/DAFcPBnL67I/TqFiyD99jvbZ0SJR_gUffw/edit>

  