<html>
    <head>
        <title>Details of SHIPMENT</title>
        <link rel="icon" href="logo.jpg" type="image/x-icon">
        <link rel="stylesheet" href="Road.css">
    </head>
    <body>
      <div class="head">
        <nav>
        <a href="HTML MAIN PAGE.html" target="_self"><img src="logo1.gif" alt="logo" style="width:100px;height:100px;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ul>
          <li class="dropdown">
            <a href="HTML MAIN PAGE.html" class="dropbtn"><img src="Home-logo.png" width="25px" height="25px">&nbsp;&nbsp;Home</a>
            
          </li>
          <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn"><img  src="Transportation-Icon (2).png" width="30px" height="30px"> &nbsp;&nbsp;  Transportation </a>
              <div class="dropdown-content">
                <a href="HTML OF AIRPLINES.html" target="_blank"><img src="Airplane-s.gif" style="width:35px;height:35px;" >&nbsp;&nbsp;<h>Airplane</h></a>
                <a href="HTML OF SHIPS.html" target="_blank"><img src="Ship-s.gif" style="width:35px;height:35px;">&nbsp;&nbsp;<h>Ship</h></a>
                <a href="HTML OF TRAINS.html" target="_blank"><img src="Train-s.gif"style="width:35px;height:35px;">&nbsp;&nbsp;<h>Train</h></a>
                <a href="HTML OF ROADS.html" target="_blank"><img src="Car-s.gif" style="width:35px;height:35px;">&nbsp;&nbsp;&nbsp;<h>Road</h></a>
              </div>
            </li>
            </ul>
        <button type="button"><a href="Login.html" target="_blank" color="red">Login</a></button>
        </nav>
      </div>
      <div class="home"><a href="HTML MAIN PAGE.html"><img src="Home-logo.png" width="20px" height="20px"><img src="Nest.png" width="20px" height="20px"></a>
        <b>Shipment &amp; Statistics</b></div>
        <br>
        <br>
        <div class="a"> 
         Data & Statistics
        </div><br>
        <br>
        <div class="b">
          Data is the present and the future. Statran provides insights into the sector and beyond by publishing the Indian and Global Statistics and by facilitating analysis.
        </div>
        <br>
        <br>

        <div class="c">
          Introduction
        </div>
        <br>
        <div class="d">
          According to the Ministry of Shipping, around 95% of India's trading by volume and 70% by value is done through maritime transport. In November 2020, the Prime Minister, Mr. Narendra Modi renamed the Ministry of Shipping as the Ministry of Ports, Shipping and Waterways.
<br>
<br>
India has 12 major and 205 notified minor and intermediate ports. Under the National Perspective Plan for Sagarmala, six new mega ports will be developed in the country. The Indian ports and shipping industry play a vital role in sustaining growth in the country’s trade and commerce. India is the sixteenth-largest maritime country in the world with a coastline of about 7,517 kms. The Indian Government plays an important role in supporting the ports sector. It has allowed Foreign Direct Investment (FDI) of up to 100% under the automatic route for port and harbour construction and maintenance projects. It has also facilitated a 10-year tax holiday to enterprises that develop, maintain and operate ports, inland waterways and inland ports.
        </div>
        <br>
        <br>
        <div class="e">
          
        <center><img id="e1" src="Ports.jpg" width="350" height="220"></center>
        <br>
        <br>
          </div>
         <div class="c">
          Major ports in India
         </div>
         <br>
         <br>
         <div class="f">
          <ul>
            <li>Kolkota</li><br>
            <li>Paradip</li><br>
            <li>Visakapatnam</li><br>
            <li>Kamarajar(Ennore)</li><br>
            <li>Chennai</li><br>
            <li>V.O Chindambaranar</li><br>
            <li>Cochin</li><br>
            <li>New Mangalore</li><br>
            <li>Mormugao</li><br>
            <li>Deendayal</li><br>
            <li>Mumbai</li><br>
            <li>J.N.P.T</li><br>

          </ul><div class="g">
          <img id="e1" src="Major-Ports-India.png" width="300" height="350">
          </div>
         <ul>
          
          <li>Indian Ports Association</li><br>
            <li>Indian Sea Port</li><br>
            <li>Public Private Partershipd In India</li><br>
            <li>Mumbai Port Trust</li><br>
            <li>Deendayal Port Trust</li><br>
            <li>Kolkota Port Trust</li><br>
            <li>Cochin Port Trust</li><br>
            <li>Mundra Port</li><br>
            </ul>
            </div>
            <br>
            <br>
              <div class="c">
                Road Ahead
              </div>
              <br>
              <br>
              <div class="s1">
                <div class="s11">
                <img id="e2" src="ports-3.jpg" width="400" height="300">
              </div>
                Increasing investment and cargo traffic point towards a healthy outlook for the Indian ports sector. Providers of services such as operation and maintenance (O&M), pilotage and harbouring and marine assets such as barges and dredgers are benefiting from these investments.

The capacity addition at ports is expected to grow at a CAGR of 5-6% till 2022, thereby adding 275-325 MT of capacity.

Domestic waterways have found to be a cost-effective and environmentally sustainable mode of freight transportation. The government aims to operationalise 23 waterways by 2030.

As part of the Sagarmala project, more than 574 projects worth Rs. 6 lakh crore (US$ 82 billion) have been planned for implementation between 2015 and 2035.

In Maritime India Summit 2021, the Ministry of Ports, Shipping and Waterways identified a total of 400 projects worth Rs. 2.25 lakh crore (US$ 31 billion) investment potential.
<br><br>
India’s cargo traffic handled by ports is expected to reach 1,695 million metric tonnes by 2021-22 according to a report by the National Transport Development Policy Committee.

                
            </div>
            <br>
            <br>
            <div class="c">
              Market Size
            </div>
            <br>
            <br>
            <div class="s2">
             
              India’s key ports had a capacity of 1,561 million tonnes per annum (MTPA) in FY21. From April-August 2022, all key ports in India handled 322.64 million tonnes (MT) of cargo traffic. India's merchandise exports in FY22 were at US$ 417.8 billion, up 40% from the previous year.In October 2021, India’s merchandise exports&nbsp;&nbsp; grew 43.05% YoY to reach US$ 33.65 billion.

<br>
<br>The Government has taken several measures to improve operational efficiency through mechanisation, deepening the draft and speedy evacuations.


<div class="s21">
  <img id="e3" src="ports  graph.jpg" width="400" height="300">
</div> 
</div>
<br>
<br>
<div class="c">
  Statistics &amp; Reports
</div>
<br>
<br>
<div class="s4">
  <a href="Annual Report  of Shipment 2021-22 (ENGLISH).pdf" ><div class="s31"><img src="pdf.png" width="40" height="45"></div></a><div class="s32">Annual Report Of Shipment 2021-22</div>
</div>
<br>
<div class="s4">
  <a href="Annual Report of Shipment2020-21.pdf" ><div class="s31"><img src="pdf.png" width="40" height="45"></div></a><div class="s32">Annual Report Of Shipment 2020-21</div>
</div><br>
<div class="s4">
  <a href="Ports-Infographic-November-2022.pdf" ><div class="s31"><img src="pdf.png" width="40" height="45"></div></a><div class="s32">Glimpse of Ship Industry</div>
</div>

    </body>
</html>