<html>
    <head>
        <title>Details of ROADS</title>
        <link rel="icon" href="logo.jpg" type="image/x-icon">
        <link rel="stylesheet" href="Road.css">
    </head>
    <body>
      <div class="head">
        <nav>
        <a href="HTML MAIN PAGE.html" target="_self"><img src="logo1.gif" alt="logo" style="width:100px;height:100px;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ul>
          <li class="dropdown">
            <a href="HTML MAIN PAGE.html" class="dropbtn"><img src="Home-logo.png" width="25px" height="25px">&nbsp;&nbsp;Home</a>
            
          </li>
          <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn"><img src="Transportation-Icon (2).png" width="30px" height="30px"> &nbsp;&nbsp;  Transportation </a>
              <div class="dropdown-content">
                <a href="HTML OF AIRPLINES.html" target="_blank"><img src="Airplane-s.gif" style="width:35px;height:35px;" >&nbsp;&nbsp;<h>Airplane</h></a>
                <a href="HTML OF SHIPS.html" target="_blank"><img src="Ship-s.gif" style="width:35px;height:35px;">&nbsp;&nbsp;<h>Ship</h></a>
                <a href="HTML OF TRAINS.html" target="_blank"><img src="Train-s.gif"style="width:35px;height:35px;">&nbsp;&nbsp;<h>Train</h></a>
                <a href="HTML OF ROADS.html" target="_blank"><img src="Car-s.gif" style="width:35px;height:35px;">&nbsp;&nbsp;&nbsp;<h>Road</h></a>
              </div>
            </li>
            </ul>
        <button type="button"><a href="Login.html" target="_blank" color="red">Login</a></button>
        </nav>
      </div>
      <div class="home"><a href="HTML MAIN PAGE.html"><img src="Home-logo.png" width="20px" height="20px"><img src="Nest.png" width="20px" height="20px"></a>
        <b>Road &amp; Statistics</b></div>
        <br>
        <br>
        <div class="a"> 
         Data & Statistics
        </div><br>
        <br>
        <div class="b">
          Data is the present and the future. Statran provides insights into the sector and beyond by publishing the Indian and Global Statistics and by facilitating analysis.
        </div>
        <br>
        <br>

        <div class="c">
          Introduction
        </div>
        <br>
        <div class="d">
          Road Transport is considered to be one of the most cost effective and preferred mode of transport, both for freight and passengers, keeping in view its level of. penetration into populated areas. Thus, it is vital for economic development and social integration of the country. Road Transport has emerged as the dominant segment in India’s transportation sector with a share of 4.5% in India’s GDP in 2005-06. The Road Transport Sector accounts for about 87% of passenger traffic and 60% of freight traffic movement in the country. Easy availability, adaptability to individual needs and the cost savings are some of the factors which go in favour of road transport. Road transport also acts as a feeder service to railway,shipping and air traffic.
        </div>
        <br>
        <br>
        <div class="e">
        <center><img id="e1" src="Road-1.jpg" width="270" height="270"></center>
          </div>
          <br>
          <br>
          <br>
          <div class="c">
            Rising trade, vehicular production
          </div>
          <br>
          
          <div class="s1">
            <div class="s11">
            <img id="e2" src="Auto mobiles.jpg" width="400" height="300">
          </div>
          ▪ Growing domestic trade flows have led to rise in commercial
          vehicles and freight movement; supported by rise in production of
          commercial vehicles.<br>
          <br>
          ▪ In FY22, automobile production (comprising passenger vehicles,
          three-wheelers, two-wheelers and four-wheelers) stood at
          22,933,230 units.<br>
          <br>
          ▪ Higher individual discretionary spending has led to increased
          spending on cars, motorbikes and scooters.
          • In FY22, domestic automobile sales (passenger, three-wheeler
          and two-wheeler vehicles) stood at 22.12 million.
        </div>
      </div>
      <br><br>
      <div class="c">
       Indian Roads
      </div>
      <br>
      <br>
      <div class="f">
       <ul>
         <li>Srinagar</li><br>
         <li>Golgen quadrilateral</li><br>
         <li>North South/East West/Corridor</li><br>
         <li>Porbandar</li><br>
         <li>Mumbai</li><br>
         <li>Chennai</li><br>
         <li>Kanyakumari</li><br>
         <li>Kolkota</li><br>
         <li>Silchar</li><br>
         

       </ul><div class="g">
       <img id="e1" src="Roads-Highways-India.png" width="300" height="350">
       </div>
      <ul>
       
       <b>Industry Contacts</b><br><br>
         <li>Misnisty of Road Transport and Roads-Highways-India</li><br>
         <li>National Highway Authority of India</li><br>
         <li>Indian Road Congrees</li><br>
         <li>Central Road Research Institute </li><br>
         
         </ul>
         </div>
         <br>
         <br>
         <div class="c">
          Road Ahead
        </div>
        <br>
        <br>
        <div class="r1">
          <div class="r11">
          <img id="e2" src="Road-Infrastructure-3.jpg" width="400" height="300">
        </div>
        The Government, through a series of initiatives, is working on policies to attract significant investor interest. A total of 200,000 km of national highways is expected to be completed by 2022. In the next five years, National Highway Authority of India (NHAI) will be able to generate Rs. 1 lakh crore (US$ 14.30 billion) annually from toll and other sources.
<br><br>
        Note: Conversion rate used for November 2022 is Rs. 1 = US$ 0.012
        
        References: Media Reports, Press Releases, Ministry of Road Transport and Highways, NHAI website, Press Information Bureau (PIB)
        <br><br>
        Notes: ^FDI in construction development Includes: Townships, housing, built-up infrastructure and construction-development projects
        </div>
        <br><br>
        <div class="c">
          Market Size
        </div>
        <br>
        <br>
        <div class="s2">
          Highway construction in India increased at 17.00% CAGR between FY16-FY21. Despite pandemic and lockdown, India has constructed 13,298 km of highways in FY21. Under the Union Budget 2022-23, the Government of India has allocated Rs. 199,107.71 crore (US$ 26.04 billion) to the Ministry of Road Transport and Highways. In FY22 (until December), the &nbsp;&nbsp;&nbsp;Ministry of Road Transport and Highways constructed national highways extending 5,835 kms. In June 2021, the Ministry of Road Transport and Highways constructed 2,284 kms of national highways compared with 1,681 kms in June 2020.

          In October 2020, the foundation stone was established for nine National Highway projects—with a total length of ~262 kms—worth >Rs. 2752 crore (US$ 371.13 million) in Tripura.
          
          The Government of India has allocated Rs. 111 lakh crore (US$ 1.4 trillion) under the National Infrastructure Pipeline for FY 2019-25. The roads sector is likely to account for 18% capital expenditure over FY 2019-25.
          
          
          <div class="s21">
            <img id="e3" src="roads.jpg" width="400" height="320">
          </div> 
          </div>
          <br>
          <br>
          <div class="c">
            Statistics &amp; Reports
          </div>
          <br>
          <br>
          <div class="s4">
            <a href="Annual Report  of Road 2021-22 (ENGLISH).pdf" ><div class="s31"><img src="pdf.png" width="40" height="45"></div></a><div class="s32">Annual Report Of Roads 2021-22</div>
          </div>
          <br>
          <div class="s4">
            <a href="Annual Report - 2021 (English) Roads.pdf" ><div class="s31"><img src="pdf.png" width="40" height="45"></div></a><div class="s32">Annual Report Of Roads 2020-21</div>
          </div><br>
          <div class="s4">
            <a href="Roads-Infographic-November-2022.pdf" ><div class="s31"><img src="pdf.png" width="40" height="45"></div></a><div class="s32">Glimpse of Road Industry</div>
          </div>
          
    </body>
</html>
