<html>
    <head>
     
          <title>Details of AIRPLINES</title>
          <link rel="icon" href="logo.jpg" type="image/x-icon">
          <link rel="stylesheet" href="Road.css">
          
    </head>
    <body>
      <div class="head">
        <nav>
        <a href="HTML MAIN PAGE.html" target="_self"><img src="logo1.gif" alt="logo" style="width:100px;height:100px;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ul>
          <li class="dropdown">
            <a href="HTML MAIN PAGE.html" class="dropbtn"><img src="Home-logo.png" width="25px" height="25px">&nbsp;&nbsp;Home</a>
            
          </li>
          <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn"><img src="Transportation-Icon (2).png" width="30px" height="30px"> &nbsp;&nbsp;  Transportation </a>
              <div class="dropdown-content">
                <a href="HTML OF AIRPLINES.html" target="_blank"><img src="Airplane-s.gif" style="width:35px;height:35px;" >&nbsp;&nbsp;<h>Airplane</h></a>
                <a href="HTML OF SHIPS.html" target="_blank"><img src="Ship-s.gif" style="width:35px;height:35px;">&nbsp;&nbsp;<h>Ship</h></a>
                <a href="HTML OF TRAINS.html" target="_blank"><img src="Train-s.gif"style="width:35px;height:35px;">&nbsp;&nbsp;<h>Train</h></a>
                <a href="HTML OF ROADS.html" target="_blank"><img src="Car-s.gif" style="width:35px;height:35px;">&nbsp;&nbsp;&nbsp;<h>Road</h></a>
              </div>
            </li>
            </ul>
        <button type="button"><a href="Login.html" target="_blank" color="red">Login</a></button>
        </nav>
      </div>
      <div class="home1"><a href="HTML MAIN PAGE.html"><img src="Home-logo.png" width="20px" height="20px"><img src="Nest.png" width="20px" height="20px"></a>
        <b>Airways &amp; Statistics</b></div>
        <br>
        <br>
        <div class="a"> 
         Data & Statistics
        </div><br>
        <br>
        <div class="b">
          Data is the present and the future. Statran provides insights into the sector and beyond by publishing the Indian and Global Statistics and by facilitating analysis.
        </div>
        <br>
        <br>

        <div class="c">
          Introduction
        </div>
        <br>
        <div class="d">
          Air transport is the fastest means of movement from one place to the other. It has reduced distances by minimising the travel time. Air transport in India made a beginning in 1911 when airmail operation commenced over a little distance of 10 km between Allahabad and Naini. But its real development took place in post-Independent period. The Airport Authority of India is responsible for providing safe, efficient air traffic and aeronautical communication services in the Indian Air Space.
        </div>
        
        <br>
        <br>
        <div class="e">
          
        <center><img id="e1" src="Airplane2.jpg" width="350" height="220"></center>
        <br>
        <br>
          </div>
         <div class="c">
          Total list of Airports in India
         </div>
         <br>
         <div class="d">
          Airports Authority of India (AAI) is responsible for  handling the airports in India.  AAI was constituted by an Act of Parliament and came into existence on 1st April 1995 by merging both National Airports Authority and International Airports Authority of India. Airports Authority of India has the responsibility of creating, upgrading, maintaining and managing civil aviation infrastructure both  on the ground and air space in the country. As of now  Airports Authority of India handles a total of 137 airports including  24 International airports (3 Civil Enclaves), 10 Custom Airports (4 Civil Enclaves) and 103 Domestic airports (23 Civil Enclaves). Check here for airport list in India which includes both domestic and International airports.
         </div>
         <br>
        
         
          <center><img  src="india-airport-map.jpg" width="350" height="420"></center>
        </div>
       
           <div class="c">
            Major Airports in India
           </div>
           <br>
           <br>
           <div class="f">
            <ul>
          
              <li>Delhi</li><br>
              <li>Mumbai</li><br>
              <li>Chennai</li><br>
              <li>Bengaluru</li><br>
              <li>Kolkota</li><br>
              <li>Hyderabad</li><br>
              
  
            </ul><div class="g">
            <img id="e1" src="Airplane places.png" width="300" height="350">
            </div>
           <ul>
            
            <b>Industry Contacts</b><br><br>
              <li>Airpots Authority of India(AAI)</li><br>
              <li>Directorate General of Civil Aviation(DGCA)</li><br>
              
              </ul>
              </div>
              <br>
              <br>
              <div class="c">
                Road Ahead
              </div>
              <br>
              <br>
              <div class="s1">
                <div class="s11">
                <img id="e2" src="Indian-Aviation-3.jpg" width="400" height="300">
              </div>
              India’s aviation industry is largely untapped with huge growth opportunities, considering that air transport is still expensive for majority of the country’s population, of which nearly 40% is the upwardly mobile middle class. The government has been instrumental in developing policies to give a boost to the aviation sector. For this, UDAN-RCS scheme has been launched by the government which aims to increase air connectivity by providing affordable, economically viable and profitable travel on regional routes.<br><br>

              The industry stakeholders should engage and collaborate with policy makers to implement efficient and rational decisions that would boost India’s civil aviation industry. With the right policies and relentless focus on quality, cost and passenger interest, India would be well placed to achieve its vision of becoming the third-largest aviation market by 2020. The expenditure of Indian travellers is expected to grow up to Rs. 9.5 lakh crore (US$ 136 billion) by 2021. Due to rise in demand in air travel, India will need 2,380 new commercial airplanes by 2038. According to a report titled ‘Travel market in India’, published by RedCore—a RedSeer unit focusing on early-stage companies— the travel market in India, worth ~ US$ 75 billion in FY20, is projected to cross US$ 125 billion by FY27.
            </div>
            <br>
            <br>
            <div class="c">
              Market Size
            </div>
            <br>
            <br>
            <div class="s2">
             
              India is expected to overtake China and the United States as the world's third-largest air passenger market in the next ten years, by 2030, according to the International Air Transport Association (IATA). Further, the rising demand in the sector has pushed the number of airplanes operating in the sector. The number of airplanes is expected to reach 1,100 planes by 2027.<br>

India’s passenger traffic stood at 150,044,013 in FY 2022-23 (April-September 2022). In FY22, airports in India pegged the domestic passenger traffic to be 166.8 million, a 58.5% YoY increase, and international passenger traffic to be 22.1 million, a 118% YoY increase, as compared to FY 2020-21.<br><br>



<div class="s21">
  <img id="e3" src="aviation.jpg" width="400" height="300">
</div> 
</div>
<br>
<br>
<div class="c">
  Statistics &amp; Reports
</div>
<br>
<br>
<div class="s4">
  <a href="Annual Report - 2021 (English) Aviation.pdf" ><div class="s31"><img src="pdf.png" width="40" height="45"></div></a><div class="s32">Annual Report Of Aviation 2021-22</div>
</div>
<br>
<div class="s4">
  <a href="AR-Eng-2020-21.pdf" ><div class="s31"><img src="pdf.png" width="40" height="45"></div></a><div class="s32">Annual Report Of Aviation 2020-21</div>
</div><br>
<div class="s4">
  <a href="Aviation-Infographic-November-2022.pdf" ><div class="s31"><img src="pdf.png" width="40" height="45"></div></a><div class="s32">Glimpse of Aviation Industry</div>
</div>

    </body>
</html>
