<html>
<head>
<center>
<title>Personal Details</title>
</center>
</head>
<center>
<h1>Personal Details</h1>
</center>
<body>
<font color="#1A5479" pace="Lucida Calligraphy">
Father Name:Ch.Rajeswara Rao<br>
Mother Name:Ch.Yashoda<br>
Sis Name:Ch.Akshitha Sri<br>
Phone No:9876543210<br>
Gmail:_________________@gmail.com<br>
</font>
<div align="right">
<a href="HTML5.html">FOR DETAILS</a><br>
<a href="LINKING.html">FOR THE DATA</a><br>
<a href="HTML7.html">FOR HOBBIES</a><br>
</div>
</body>
</html>