<html>
<head>
<title>INTERNAL LINKING</title>
</head>
<center>
<h1> ABOUT TEXT </h1>
</center>
<body>
<pre>
<a href="#c1">Chapter1</a>
<a href="#c2">Chapter2</a>
<a href="#c3">Chapter3</a>
<a href="#c4">Chapter4</a>
<h1 id="c1">Chapter1</h1>
Written word
Text (literary theory), any object that can be read, including:
Religious text, a writing that a religious tradition considers to be sacred
Text, a verse or passage from scripture used in expository preaching
Textbook, a book of instruction in any branch of study
<li><h1 id="c2">Chapter2</h2></li>
Computing and telecommunications
Plain text, unformatted text
Text file, a type of computer file opened by most text software
Text string, a sequence of characters manipulated by software
Text message, a short electronic message designed for communication between mobile phone users
Text (Chrome app), a text editor for the Google Chrome web browser
<h1 id="c3">Chapter3</h1>
TEXT, a Swedish band
Text & Talk (formerly Text), an academic journal
"Text", a 2010 song produced by J.R. Rotem, featuring Mann and Jason Derulo
TxT (film), a 2006 Filipino horror film
Text (film), a 2019 Russian film
Text (2008 film) (film), a 2008 American horror film
<h1 id="c4">Chapter4</h1>
All pages with titles beginning with Text
Copy (written) – Written material
Discourse (disambiguation)
Enriched text – Formatted text format for e-mail
Formatted text – Digital text which has styling information beyond minimal semantic elements
Rich Text Format – Document file format developed by Microsoft
Tex (disambiguation)
Text display – Electronic alphanumeric display device
Text mode – Computer display mode based on characters
Text segment – Portion of an object file containing executable instructions
Writing – Representation of language in a textual medium
</pre>
</body>

</html>