<html>
    <head>
        <title>
            javascript
        </title>
    </head>
    <body bgcolor="teal">
        <script type="text/javascript">
        var a=Number.parseInt(prompt("enter the a value"));
        document.write("a="+a+"<br>");
        var b=Number.parseInt(prompt("enter the bs value"));
        document.write("b="+b+"<br>");
        document.write("sum="+(a+b)+"<br>");
        document.write("dif="+(a-b)+"<br>");
        document.write("mul="+(a*b)+"<br>");
        document.write("div="+(a/b)+"<br>");
   
       </script>
    </body>
</html>