<html>
    <head>
        <title>
            Greater of three
        </title>
    </head>
    <body>
        <script>
        
       var a=Number.parseInt(prompt("enter the a value"));
       document.write("a="+a+"<br>");
       var b=Number.parseInt(prompt("enter the b value"));
       document.write("b="+b+"<br>");
        var c=Number.parseInt(prompt("enter the c value"));
        document.write("c="+c+"<br>");
         if(a>b && a>c)
         {
            document.write("A value is greater"+a+"<br>");
         }
         else if(b>c && b>c)
         {
            document.write("B value is greater"+b+"<br>");
         }
         else
         {
            document.write("C value is greater"+c+"<br>");
         }
        </script>
    </body>
</html>