<html>
<head>
<title>
Login page</title>
<link rel="stylesheet" href="Login.css">
</head>

<body bgcolor="grey">
<center>
<br><br><br><br><br>
<table bgcolor="" style="width:50%;height:50%;">
<tr>
<th> 
<center>
<img  id="logo" src="STATRAN.gif" alt="Login Image" style="width:400px;height:400px;"></th>
<th>
  <div class="cc">
  <div id="bg">
    <h2>Login </h2>
    <form action="#" method="post">
      <div class="form-field">
        <input type="email"   placeholder="Email / Username" required name="email"/>
      </div>
      
      <div class="form-field">
        <input type="password" placeholder="Password" required name="pass"/></div>
      
      <div class="form-field">
        <button class="btn" type="submit">Log in</button>
        <br></div>
        <div class="'form-field">
        <h3>Dont have a account ?</h3>
        <a href="#"><img src="arrow-right.png" alt="Sign up logo" style="width:50px;height:50px;">&nbsp;&nbsp;&nbsp;<img src="SIgnuppic.png" alt="Sign up logo" style="width:50px;height:50px;"></a>
      </div>
     <!-- <input type="submit"/>-->
   
     </div>
  </form>
  </div>
  
</div>
  </body>
  </html>

